.button {
    -fx-background-color: #9b9b9b;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.right-gray {
     -fx-background-color: #c0c1c4;
}

.heading-label {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #000cff;
    -fx-opacity: 1;
}

.exit-label{
    -fx-font-size: 16pt;
        -fx-font-family: "Segoe UI Light";
        -fx-text-fill: white;
        -fx-opacity: 1;
}

.temp{
    -fx-background-color: #aaaaaa;
}

.login-box{
    -fx-background-color: rgba(0, 0, 0, 0.85);
    -fx-background-radius: 10;
}

.login-label{
    -fx-text-fill: #eaecef;
    -fx-font-family: "Helvetica";
    -fx-font-size: 30;
}

.menu-box{
        -fx-background-color:
            #cacdd1,
            #c0c1c4,
            linear-gradient(to right, #cacdd1 92%, #c0c1c4 8%);
}

.circle{
    -fx-fill: #616263;
}

.line{
    -fx-stroke-width: 5;
    -fx-stroke: #484949;
}

.line-selected{
    -fx-stroke-width: 5;
    -fx-stroke: #42f445;
}

.node-selected{
    -fx-fill: #42f445;
}

.node-selected-text{
    -fx-text-fill: #000000;
}

.circle-enabled{
    -fx-fill: #f7f7f7;
}

.letter-label{
    -fx-text-fill: #eaecef;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16;
}

.letter-label-enabled{
    -fx-text-fill: #000000;
    -fx-font-family: "Helvetica";
    -fx-font-size: 16;
}

.choice-box{
    -fx-background-color: #9b9b9b;
    -fx-background-radius: 8,7,6;
    -fx-background-insets: 0,1,2;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.category-label{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #fff600;
    -fx-opacity: 1;
}

.time-label{
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ff445d;
}

.time-pane{
    -fx-background-color: rgba(229, 229, 229, 100);
    -fx-background-radius: 10;
}

.guess-label{
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
}

.guess-pane{
    -fx-background-color: #616263;
    -fx-background-radius: 10;
}

.pause-pane{
    -fx-background-color: #161616;
}

.pause-font{
    -fx-font-size: 30pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
}

.words{
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
}

.words-pane{
    -fx-background-color: #616263;
}

.total{
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
}

.total-pane{
    -fx-background-color: #616263;
    -fx-background-radius: 10;
}

.target{
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #ffffff;
}

.target-pane{
    -fx-background-color: #616263;
    -fx-background-radius: 10;
}